# =========================
# NEOThermIA Requirements
# =========================

# Dash + UI
dash>=2.9
dash-bootstrap-components>=1.6.0
plotly>=5.18

# Data / Numérico
numpy>=1.26.4
pandas>=2.2.2

# Otimização multiobjetivo (NSGA-II)
pymoo>=0.6.0

# Machine Learning (MLP surrogate - CPU only)
tensorflow-cpu>=2.16.1
